@using MallMinder.Data
@using MallMinder.Models
@using MallMinder.Models.ViewModels
@model MallMinder.Models.ViewModels.RentVM
@inject AppDbContext _context

<link href="/plugins/select2-2/select2.min_2.css" rel="stylesheet" />
<link href="/plugins/select2-2/select2.min.css" rel="stylesheet" />
@{
    string tenantId = ViewBag.TenantId;
    string TenantName = ViewBag.TenantName;
}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rent</h4>
            <form class="form-sample" method="Post" asp-action="Index" asp-controller="Rent">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">User Name</label>
                            <div class="col-sm-9">
                                <h4>@TenantName</h4>
                                <input value="@tenantId" asp-for="TenantId" type="hidden">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Payment Duration</label>
                            <div class="col-sm-7">
                                <input asp-for="PaymentDuration" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Free Room</label>
                            <div class="col-sm-9">
                                <select asp-for="RoomId" class="form-control selection CustomSelect"
                                    id="freeRoomDropdown" asp-items="ViewBag.Rooms">
                                    <option value="@null"> Select Room</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Rental Date</label>
                            <div class="col-sm-9">
                                <input type="date" asp-for="RentalDate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Rent Type</label>
                            <div class="col-sm-9">
                                <select asp-for="TypeId" class="form-control rental-type-dropdown selection"
                                    id="shopsStoresDropdown" asp-items="ViewBag.rentTypes">
                                    <option value="@null"> Select Rent Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Other" type="text" class="form-control" id="otherRentType"
                                    placeholder="Other">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-rounded btn-fw">Submit</button>
                                <button class="btn btn-rounded btn-outline-light btn-fw">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {

    <script src="/plugins/select2-2/select2.min_2.js"></script>
    <script src="/plugins/select2-2/select2.min.js"></script>
    <script>
        $(".selection").select2();
    </script>

}