@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<AppUser> SignInManager

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="/img/logo3.png" alt="" style="width: 200px;">
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="profile-name">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            string email = @User.Identity!.Name;
                            string[] parts = email.Split('@');
                            string username = parts[0];
                            <h5 class="mb-0 font-weight-normal">@username</h5>
                        }
                    </div>
                </div>
                <a href="#" class="text-muted" id="profile-dropdown" data-toggle="dropdown">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                    aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item text-muted">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <ion-icon class="text-danger" name="settings-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small text-white">
                                Account settings
                            </p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a asp-action="ChangePassword" asp-controller="Account"
                        class="dropdown-item preview-item text-muted">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <ion-icon class="text-info" name="lock-closed-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small text-white">
                                Change Password
                            </p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link text-white">Navigation</span>
        </li>
        <li class="nav-item menu-items ">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <span class="menu-icon">
                    <ion-icon class="text-info" name="bar-chart-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <ion-icon class="text-danger" name="stats-chart-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Analytics</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Analytics" asp-action="Index" class="nav-link">Maintenance</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Analytics" asp-action="ComplitedMaintenance" class="nav-link">Complited
                            Maintenance</a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="Analytics" asp-action="RoomOccupancy" class="nav-link">Room Occupancy</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Analytics" asp-action="Room" class="nav-link">Room</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Analytics" asp-action="Expense" class="nav-link">Expense</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Analytics" asp-action="Tenant" class="nav-link">Tenant</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Analytics" asp-action="Payment" class="nav-link">Payment</a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="nav-item menu-items ">
            <a class="nav-link" asp-controller="Tenant" asp-action="Index">
                <span class="menu-icon">
                    <ion-icon class="text-warning" name="person-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Tenant List</span>
            </a>
        </li>
        <li class="nav-item menu-items ">
            <a class="nav-link" asp-controller="Tenant" asp-action="AddTenant">
                <span class="menu-icon">
                    <ion-icon class="text-warning" name="person-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Add Tenant</span>
            </a>
        </li>
        <li class="nav-item menu-items ">
            <a class="nav-link" asp-controller="Room" asp-action="AddRoom">
                <span class="menu-icon">
                    <ion-icon class="text-danger" name="storefront-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Add Room</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="Room" asp-action="RoomList">
                <span class="menu-icon">
                    <ion-icon class="text-primary" name="albums-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Room List</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="Room" asp-action="Index">
                <span class="menu-icon">
                    <ion-icon class="text-primary" name="albums-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Room Price</span>
            </a>
        </li>
        <li class="nav-item menu-items ">
            <a class="nav-link" asp-controller="Payment" asp-action="Index">
                <span class="menu-icon">
                    <ion-icon class="text-success" name="cash-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Payment</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="Maintenance" asp-action="Index">
                <span class="menu-icon">
                    <ion-icon class="text-warning" name="construct-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Maintenance</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="Expense" asp-action="Index">
                <span class="menu-icon">
                    <ion-icon class="text-info" name="trending-up-outline"></ion-icon>
                </span>
                <span class="menu-title text-white">Expenses</span>
            </a>
        </li>
    </ul>
</nav>
<script src="/assets/js/misc.js"></script>
<style>
    .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
        content: "\f140";
        font-size: inherit;
        color: inherit;
    }
</style>