@model MallMinder.Models.Mall
<div class="col-md-7 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Add New Mall</h4>
            <form class="forms-sample" method="post" asp-controller="Mall" asp-action="AddMall">
                <div class="text-danger" asp-validation-summary="ModelOnly"> </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input asp-for="Name" type="text" class="form-control" id="exampleInputUsername2"
                            placeholder="Username">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea asp-for="Description" rows="4" class="form-control" id="Description"
                            placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputMobile" class="col-sm-3 col-form-label">Location</label>
                    <div class="col-sm-9">
                        <input asp-for="Location" type="text" class="form-control" id="Location" placeholder="Location">
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Total Rooms</label>
                    <div class="col-sm-9">
                        <input asp-for="TotalRooms" type="number" class="form-control" id="TotalRooms"
                            placeholder="Total Rooms">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Total Floor</label>
                    <div class="col-sm-9">
                        <input asp-for="TotalFloors" type="number" class="form-control" id="TotalFloors"
                            placeholder="Total Floor">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>