@model MallMinder.Models.ViewModels.TenantMaintenanceRequestVM
<link href="/plugins/select2-2/select2.min_2.css" rel="stylesheet" />
<link href="/plugins/select2-2/select2.min.css" rel="stylesheet" />
@{
    var DateDefault = DateTime.Now.ToString("yyyy-MM-dd");
}
<div class="card mb-4">
    <div class="col-md-10"> @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="alert text-success  text-center fs-5" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>
    <div class="card-body">
        <h4 class="card-title">Maintenance Request</h4>
        <form class="form-sample" method="Post" asp-action="Index" asp-controller="TenantMaintenance">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Maintenance Type</label>
                        <div class="col-sm-8 row">
                            <div class="col-sm-2 flexalignment">
                                <span class="menu-icon cu-css-add flexalignment" id="addButton">
                                    <ion-icon class="text-info" name="add-outline"></ion-icon>
                                </span>
                            </div>
                            <div class="col-sm-10">
                                <select asp-for="TypeId" class="selection select2 form-control mb-3 custom-select"
                                    asp-items="ViewBag.maintenanceType" id="freeRoomDropdown">
                                    <option value="0">maintenance Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <input asp-for="Date" type="date" class="form-control" data-val="true"
                                data-val-required="The RentalDate field is required." id="RentalDate"
                                value="@DateDefault"><input name="__Invariant" type="hidden" value="RentalDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8" id="otherInputContainer" style="display: none;">
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-10">
                                    <input asp-for="Other" type="text" class="form-control" id="otherRentType"
                                        placeholder="Other">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-rounded btn-fw">Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .cu-css-add {
        background-color: #2a3038;
        border-radius: 100px;
    @*width:5px;*@padding: 8px;
        margin-top: 2px;
    }

    .flexalignment {
        display: flex;
        align-items: center;
    }
</style>

@section scripts {
    <script src="/plugins/select2-2/select2.min_2.js"></script>
    <script src="/plugins/select2-2/select2.min.js"></script>
    <script>
        $(".selection").select2();
    </script>
    <script>
        // Remove success message after 2 minutes or when new data is input
        $(document).ready(function () {
            setTimeout(function () {
                $('#successMessage').fadeOut('slow', function () {
                    $(this).remove();
                });
            }, 900); // 2 minutes
        });
        // Optionally, you can also remove the message when new data is input
        // Example: when the form is submitted
        $('form').submit(function () {
            $('#successMessage').remove();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addButton = document.getElementById('addButton');
            const otherInputContainer = document.getElementById('otherInputContainer');

            addButton.addEventListener('click', function () {
                // Toggle visibility of the input field
                otherInputContainer.style.display = otherInputContainer.style.display === 'none' ? 'block' : 'none';
            });
        });
    </script>
}