@{
    ViewData["Title"] = "add tenant Page";
    @* Layout = null; *@
}
<div class="card-body">
    <h4 class="card-title text-warning">Add New Tenant </h4>
    @* <p class="card-description"> Basic form layout </p> *@
    @Html.Partial("~/Views/Auth/Register.cshtml")

</div>