@model List<AppUser>
@{
    ViewData["Title"] = "tenant Page";
    @* Layout = null; *@
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-warning">Tenant List</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-light">Tenant Name</th>
                            <th class="text-light">Room NO</th>
                            <th class="text-light">Floor NO</th>
                            <th class="text-light">Phone Number</th>
                            <th class="text-light">Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>012</td>
                                <td>2</td>
                                <td>0988776555</td>
                                <td>
                                    <div class="badge badge-outline-success">
                                        payed
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
