@model MallMinder.Models.ViewModels.ExpenseVM
<link href="/plugins/select2-2/select2.min_2.css" rel="stylesheet" />
<link href="/plugins/select2-2/select2.min.css" rel="stylesheet" />
<div class="col-12 grid-margin">
    <div class="col-md-10"> @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="alert text-success  text-center fs-5" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Expense</h4>
            <form class="form-sample" method="Post" asp-action="Index" asp-controller="Expense">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Expense Type</label>
                            <div class="col-sm-9">
                                <select asp-for="ExpenseTypeId"
                                    class="selection select2 form-control mb-3 custom-select" id="freeRoomDropdown"
                                    asp-items="ViewBag.ExpenseTypeList">
                                    <option value="0">maintenance Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Cost</label>
                            <div class="col-sm-9">
                                <input asp-for="ExpenseAmount" type="Number" class="form-control" id="expensecost"
                                    placeholder="Cost">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Other" type="text" class="form-control" id="otherRentType"
                                    placeholder="Other">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date</label>
                            <div class="col-sm-9">
                                <input asp-for="ExpenseDate" type="date" class="form-control" data-val="true"
                                    data-val-required="The RentalDate field is required." id="RentalDate"
                                    value="0001-01-01"><input name="__Invariant" type="hidden" value="RentalDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <textarea asp-for="Description" rows="4" class="form-control" id="Description"
                                    placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            <div class="col-sm-6 "></div>
                            <div class="col-sm-6"><button type="submit"
                                    class="btn btn-primary btn-rounded btn-fw mt-4">Approved</button></div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {

    <script src="/plugins/select2-2/select2.min_2.js"></script>
    <script src="/plugins/select2-2/select2.min.js"></script>
    <script>
        $(".selection").select2();
    </script>
    <script>
        // Remove success message after 2 minutes or when new data is input
        $(document).ready(function () {
            setTimeout(function () {
                $('#successMessage').fadeOut('slow', function () {
                    $(this).remove();
                });
            }, 900); // 2 minutes
        });

        // Optionally, you can also remove the message when new data is input
        // Example: when the form is submitted
        $('form').submit(function () {
            $('#successMessage').remove();
        });
    </script>
}