@using MallMinder.Data
@using MallMinder.Models
@using MallMinder.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@model MallMinder.Models.ViewModels.MaintenanceRequestVM
@inject AppDbContext _context
@{
    ViewData["Title"] = "Maintenance";
    // Assuming you have a shared layout for your application
}
<link href="/plugins/select2-2/select2.min_2.css" rel="stylesheet" />
<link href="/plugins/select2-2/select2.min.css" rel="stylesheet" />

<div class="col-12 grid-margin">
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Maintenance Request</h4>
            <form class="form-sample" method="Post" asp-action="Index" asp-controller="Maintenance">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tenant</label>
                            <div class="col-sm-9">
                                <select asp-for="RentId" class="selection select2 form-control mb-3 custom-select"
                                    style="width: 100%;" id="freeRoomDropdown" asp-items="ViewBag.rents">
                                    <option value="@null">Room</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Maintenance Type</label>
                            <div class="col-sm-8">
                                <select asp-for="MaintenanceTypeId"
                                    class="selection select2 form-control mb-3 custom-select" style="width:  "
                                    asp-items="ViewBag.maintenanceType" id="freeRoomDropdown">
                                    <option value="@null">maintenance Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date</label>
                            <div class="col-sm-9">
                                <input asp-for="RequestedDate" type="date" class="form-control" data-val="true"
                                    data-val-required="The RentalDate field is required." id="RentalDate"
                                    value="0001-01-01"><input name="__Invariant" type="hidden" value="RentalDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Other" type="text" class="form-control" id="otherRentType"
                                    placeholder="Other">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-rounded btn-fw">Approved</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Maintenance completion</h4>
            <form class="form-sample" method="Post" asp-action="Index" asp-controller="Rent">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="col-sm-6 col-form-label" for="">On Maintenance</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="col-sm-6 col-form-label" for="">Cost</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select class="form-control" id="freeRoomDropdown" name="freeRoomDropdown">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary btn-rounded btn-fw">complet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {

    <script src="/plugins/select2-2/select2.min_2.js"></script>
    <script src="/plugins/select2-2/select2.min.js"></script>
    <script>
        $(".selection").select2();
    </script>

}