@model MallMinder.Models.ViewModels.MallManagerVM

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-info">Add Manager to the Mall</h4>
            <form asp-action="Index" method="post" class="form-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="FirstName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="LastName" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone No</label>
                            <div class="col-sm-9">
                                <input type="number" asp-for="PhoneNumber" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Email" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9 eye-cont" style="display: flex;">
                                <input type="password" asp-for="Password" class="form-control" id="password">
                                <a id="togglePassword"><ion-icon class="eye" name="eye-outline"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Confirm Password</label>
                            <div class="col-sm-8 eye-cont" style="display: flex;">
                                <input type="password" class="form-control" asp-for="ConfirmPassword"
                                    id="confirmPassword">
                                <a id="toggleConfirmPassword"><ion-icon class="eye" name="eye-outline"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mall ID</label>
                            <div class="col-sm-9">
                                <input type="number" asp-for="MallId" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-3 ">
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            </div>
                            <div class="col-sm-3 ">
                                <button class="btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @* Display success message if it exists *@
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert text-success mt-3 text-center fs-5 text" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
        </div>
    </div>
</div>
