@{
    ViewData["Title"] = "room Page";
    @* Layout = null; *@
}
<div class="row">
    <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rooms Table</h4>
                @* <p class="card-description"> Add class <code>.table</code> *@
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Room No</th>
                                <th> Floor </th>
                                <th> Care </th>
                                <th> Price Per Care</th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1st</td>
                                <td>3 care</td>
                                <td>
                                    <div class=" form-check form-switch" style="margin-left: 30px;">
                                        <input class="form-check-input  text-warning" type="checkbox" id="mySwitch"
                                            value="yes" checked>
                                    </div>
                                </td>
                                <td><label class="badge badge-danger">Pending</label></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1st</td>
                                <td>4 care</td>
                                <td>
                                    <div class=" form-check form-switch" style="margin-left: 30px;">
                                        <input class="form-check-input  text-warning" type="checkbox" id="mySwitch"
                                            value="yes" checked>
                                    </div>
                                </td>
                                <td><label class="badge badge-warning">In progress</label></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>4th</td>
                                <td>7 care</td>
                                <td>
                                    <div class=" form-check form-switch" style="margin-left: 30px;">
                                        <input class="form-check-input  text-warning" type="checkbox" id="mySwitch"
                                            value="yes" checked>
                                    </div>
                                </td>
                                <td><label class="badge badge-info">Fixed</label></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2nd</td>
                                <td>4 care</td>
                                <td>
                                    <div class=" form-check form-switch" style="margin-left: 30px;">
                                        <input class="form-check-input  text-warning" type="checkbox" id="mySwitch"
                                            value="yes" checked>
                                    </div>
                                </td>
                                <td><label class="badge badge-success">Completed</label></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>1st</td>
                                <td>20</td>
                                <td>
                                    <div class=" form-check form-switch" style="margin-left: 30px;">
                                        <input class="form-check-input  text-warning" type="checkbox" id="mySwitch"
                                            value="yes" checked>
                                    </div>
                                </td>
                                <td><label class="badge badge-warning">In progress</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 card">
        <div class="card-body">
            <h4 class="card-title custom-margin-bottom-40">Add Room Price</h4>

            <div class="dropdown custom-margin-bottom-20 ">
                <div>
                    <p class="text-info">Room Number</p>
                </div>
                <div class="number-selector mb-4 mr-sm-2">

                    <button id="decrease-btn" class="badge badge-info select_button">-</button>
                    <input class="select_input form-control " type="number" id="number-input" value="0"
                        placeholder="Room No">

                    <button class="badge badge-info select_button " id="increase-btn">+</button>
                </div>
                <div class="dropdown custom-margin-bottom-20 ">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button"
                        id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> Floor Number </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                        <h6 class="dropdown-header">1st</h6>
                        <a class="dropdown-item" href="#">2nd</a>
                        <a class="dropdown-item" href="#">3rd</a>
                        <a class="dropdown-item" href="#">4th</a>
                        <a class="dropdown-item" href="#">5th</a>
                        <a class="dropdown-item" href="#">6th</a>
                    </div>
                </div>
                <div>
                    <p class="text-danger">Price</p>
                </div>
                <div class="">
                    <input class="select_input form-control " type="text" id="number-input" value="0"
                        placeholder="Price">
                </div>
                <div class="mt-4"><label class="badge badge-danger">Submit</label></div>
            </div>
        </div>
    </div>
</div>
